@import url('https://fonts.googleapis.com/css?family=EB+Garamond:700|Quicksand:300');

body{
    background-color: #fff;
    margin:0;
    font-family: "quicksand", sans-serif;
    /*font-family: "EB Garamond", serif;*/
}


#header{
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    background-color: #fff;
    height:120px;
    border-bottom: solid 2px #eee;
}
.nav{
    max-width: 1000px; /*IMPORTANAAANTT*/
    margin: auto; /*Center nav*/
    display:grid;
    grid-template-columns: 200px auto;
}

.links{
    margin: 44px 20px;
    font-size: 1.3rem;
    text-align: right;
}
.links a{
    color: #000;
    text-decoration: none;
    margin: 30px;
    padding: 20px;
}
.links a:hover{
    color: #f29298;
}
.links a:active{
    font
}

#logo{
    background: url(img/logo-black.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 80px;
    padding: 10px;
    margin: 9px 50px;
}
#logo:hover{
    background: url(img/logo-pink.png);
    background-size: 77px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 77px;
}
.whitesquare{
    width:80px;
    opacity:0;
}



/*HOME*/
#home{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% auto;
    height: 1000px;
    padding-top: 120px;
}
.banner{
    margin-top: 20px;
    margin-left: 150px;
    text-align: left;
}
.banner img{
    max-width: 440px;
}
.name{
    margin-top: 90px;
    font-family: "EB Garamond", serif;
    text-align: left;
    font-size: 5.2rem;
}
.firstbio{
    margin-left: 100px;
    margin-top: 50px;
}
.firstbio p{
    font-size: 1.8rem;
    margin:0;
    padding:5px;
}



/*PORTFOLIO*/
#portfolio{
    height: ;
}