@import url('https://fonts.googleapis.com/css?family=EB+Garamond:700|Quicksand:300');

body{
    background-color: #fff;
    margin:0;
    font-family: "quicksand", sans-serif;
}

h1{
    font-family: "EB Garamond", serif;
}
